<!DOCTYPE html>
<!--
  ~ Copyright 2016 LINE Corporation
  ~
  ~ LINE Corporation licenses this file to you under the Apache License,
  ~ version 2.0 (the "License"); you may not use this file except in compliance
  ~ with the License. You may obtain a copy of the License at:
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  ~ WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  ~ License for the specific language governing permissions and limitations
  ~ under the License.
  -->
<html>
<head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="lib/jquery/jquery-ui.min.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/line-login.css"/>
    <!--<link rel="stylesheet" href="lib/lobibox/css/lobibox.min.css"/>-->
    <!--<link rel="stylesheet" href="lib/highlight/github.css"/>-->
    <link rel="stylesheet" href="dist/lobilist.min.css"/>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-ui.min.js"></script>
    <script src="lib/jquery/jquery.ui.touch-punch-improved.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="lib/lobibox/js/lobibox.min.js"></script>-->
    <script src="lib/highlight/highlight.pack.js"></script>
    <script src="dist/moment.js"></script>
    <script src="dist/lobilist.js"></script>
    <script src="js/todos.js"></script>

    <title>Todo List</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div id="todo-list"></div>
    </div>
</div>
</body>
</html>
